body{
    margin: 0;
    background :#202700 ;
    color : whitesmoke;
    height :100%;
}
#root{
    height: 100%;
    min-height:100vh;
}
/* menu */
.menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    height: 100vh;
    min-width: 100vw;
   
}
.main-section{
    display : flex ;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   
}
.left-section{
    display: flex;
    flex-direction: column;
}
.play{
    width: fit-content;
    cursor: pointer;
    padding: 10px 50px;
    border-radius : 5px ;
    background-color: #005439;
   
}
.play:hover{
    filter : brightness(1.08);
}
.menu-chart{
position: absolute;
z-index: -1;
}
section{
    width: 100%;
}
/*playground*/
.chart{
  
}
.playground-main{
    display : flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-between;
    height : 100%;
    min-height: 94vh;
    padding : 3vh 0 ;
}
.playground-top{
    display : flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.buy-sell{
    width: 100%;
    display : flex;
    justify-content: space-around;
}
.btn{
    border-radius: 5px;
    padding  : 5px 0 ;
    cursor: pointer;
    width : 120px;
    text-align: center;
}
.btn:hover{
    filter: brightness(1.08)
}
.sell-btn{
background-color: #445400;
}
.buy-btn{
background-color:#100054;
}
.return-btn{
    background-color:#54001a;  
}
.transparent{
    background-color:transparent;
}
.red{
    background-color:crimson;
}
.green{
    background-color:#005439;
}